<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:query -->
<main class="wp-block-query">
    <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonUseIcon":true} /-->

    <!-- wp:post-template {"align":"wide"} -->
    <!-- wp:template-part {"slug":"post","tagName":"article"} /-->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
        <!-- wp:query-pagination-previous {"fontSize":"small"} /-->
        <!-- wp:query-pagination-numbers /-->
        <!-- wp:query-pagination-next {"fontSize":"small"} /-->
    <!-- /wp:query-pagination -->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
